<div class="page-header"><h1>Photos</h1></div>

<div>
<% @photos.each do |photo| %>
  <div class="media-left col-lg-4">
    <% photo.images.each do |image| %>
    <% if image.image? %>
      <% link_to image_tag(image, width:400), image %>
    <% else %>
      <% link_to image_tag(image.variant(resize:"400x400")), image %>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>

